
.hover-effect {
    position: relative;
    overflow: hidden;
}

.hover-effect:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent 20%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.8) 80%, rgba(255, 255, 255, 1) 100%);
    z-index: -1;
    transform: scale(0);
    transition: transform 0.5s ease-out;
}

.hover-effect:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent 20%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 1) 100%);
    z-index: -1;
    transform: scale(0);
    transition: transform 0.5s ease-out;
}

.hover-effect:hover::before,
.hover-effect:hover::after {
    transform-origin: center;
}
